### **Join Operations in Oracle**

1. The purpose of a join is to combine the data across tables.
2. A join is actually performed by the where clause which combines the specified rows of tables.
3. If a join involves in more than two tables then Oracle joins first two tables based on the join conditions and then compares the result with the next table and so on.

**All tpes of Join operations are:**
1. Equi join
2. Non-Equi join
3. Self join
4. Natural join
5. Cross join
6. Outer join - Left outer, Right outer and Full outer
7. Inner join

**Creating Tables:**<br>
drop table department;

create table department (deptno number, dname varchar2(15), loc varchar2(10));

insert into department values(10, 'Inventory', 'Hyderabad');<br>
insert into department values(20, 'Finance', 'Bangalore');<br>
insert into department values(30, 'HR', 'Mumbai');<br>
insert into department values(50, 'IT', 'Delhi');<br>

select * from department;

desc department;

drop table employee;

create table employee (empno number, ename varchar2(15), job varchar2(10), mgr number, deptno number);

insert into employee values(111, 'Sathi', 'Analyst', 444, 10);<br>
insert into employee values(222, 'Sudha', 'Clerk', 333, 20);<br>
insert into employee values(333, 'Jagan', 'Manager', 111, 10);<br>
insert into employee values(444, 'Madhu', 'Engineer', 222, 40);<br>

select * from employee;

desc employee;

**1. Equi join**<br>
A join which contains an equal to '=' operator in the join condition.

select * from employee e, department d where e.deptno = d.deptno;

**Using clause**<br>
select * from employee e join department d using(deptno);

**On clause**<br>
select * from employee e join department d on (e.deptno = d.deptno);

**2. Non-Equi join**<br>
A join which contains an operator other than equal to '=' operator in the join condition.

select * from employee e, department d where e.deptno > d.deptno;

**3. Self join**
Joining the table itself is called self join.

select * from employee e1, employee e2 where e1.empno = e2.mgr;

**4. Natural Join**<br>
Natural join compares all the common columns.

select * from employee natural join department;

**Note -** Output of the query is same as we did in equi-join with the query -<br>
select * from employee e join department d using(deptno);

**5. Cross join**<br>
This will give the cross product of two tables as output.

select * from employee cross join department;

select * from employee, department;

**6. Outer join<br>
Outer join gives the non-matching records along with matching records.

**Outer join - Left outer**<br>
All records from the left table and matching records from the right table.

select * from employee e left outer join department d on (e.deptno = d.deptno);

select * from employee e, department d where e.deptno = d.deptno(+);

**Outer join - Right outer**<br>
All records from the right table and matching records from the left table.

select * from employee e right outer join department d on (e.deptno = d.deptno);

select * from employee e, department d where e.deptno(+) = d.deptno;

**Outer join - Full outer**<br>
All records matching and not matching from both the tables.

select * from employee e full outer join department d on (e.deptno = d.deptno);

**7. Inner join**

This will display all the matching records.

select * from employee inner join department using (deptno);

**Note:** This following queries will produce the same output.<br>
select * from employee e join department d using(deptno);<br>
and<br>
select * from employee natural join department;